@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color:antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
   font-family: 'Ubuntu', sans-serif;
}
nav ul{
display: flex; 
align-items: center;
list-style-type: none;
height: 55px;
background-color: black;
color: white;

}
nav ul li{
    padding: 0 12px;
    
}
.brand img{
    width: 47px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.4rem;
}
.container{
    min-height: 66vh;
    background-color:black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width:77%;
    border-radius: 12px;
    padding: 25px;
    background-image: url(bg.avif);
    
   
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
   margin-top: 20px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}
.songItemContainer{
    margin-top: 74px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color:antiquewhite;
    width:150%;
    font-weight: bold;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;

}
.songItem img{
    width: 48px;
    margin: 30px 19px ;
    border-radius: 27px;

}
.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color:yellow;
    }
  }